@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Lora:ital,wght@1,500;1,600&family=Meow+Script&family=Mochiy+Pop+P+One&family=Passion+One&family=Permanent+Marker&family=Playfair+Display:ital,wght@1,500&family=Redacted+Script:wght@700&display=swap');


*{
    margin: 0px;
    padding: 0px;
}


:root{
    --cor1: #dabfffb7;
    --cor2: #907AD6;
    --cor3: #4F518C;
    --cor4: #bbbbbb9f;
    --cor5: #7FDEFF;
    --cor6: black;


    --fonte1: 'Mochiy Pop P One', sans-serif;


}

header{
    background-color: var(--cor1);
    padding: 25px;
    font-family: var(--fonte1);
    font-size: 25px;
    width: 100%;

}

header a{
    text-decoration: none;
}

header a::after{
    color: var(--cor4);
}


 

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
    
}


.container2, .container3{
    border: 1px solid black;
     
}


.container2{
    height: 70vh;
    width: 60vh;
    position: relative;
    background-image: url(imagens/imgs/Dragon_Ball_Z.png);
    background-size:100% 74% ;
    background-repeat: no-repeat;
 
}

.container3{
    height: 70vh;
    width: 100%;
 
}


.container4{
    visibility: hidden;
}



.txt{
    padding: 10px;
    position: absolute;
    bottom: 0%;
    font-size: 2vh;
    background-color: rgba(222, 184, 135, 0.568);
    font-family: var(--fonte1);
}

iframe{
    height: 70vh;
    width: 100%;
}


footer{
    background-color: var(--cor1);
    padding: 20px;
    text-align: center;
    color: var(--cor3);
    font-size: 15px;
    font-family: var(--fonte1);
    margin-top: 3%;
 


}

footer p > a{
    color: var(--cor3);
    font-weight: bold;
    font-size: 15px;
    font-family: var(--fonte1);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}



@media (max-width:870px){
 

    .container3{
        width: 65vh;
        height: 50vh;
 
    }

    .container4{
        visibility: visible;
        width: 65vh;
    }

    iframe{
        width: 65vh;
        height: 50vh;
        text-align: center;
    }
    .container2{
    display: none;
    }

}

@media (max-width:450px){
    
    .container3{
        width: 50vh;
        height: 40vh;    
    }

    iframe{
        width: 50vh;
        height: 40vh;
       text-align: center;
    }

    footer{
        width: 100%;
    }
}


@media (max-width:450px){
    
    .container3{
        width: 36vh;
        height: 30vh;    
    }

    iframe{
        width: 36vh;
        height: 30vh;
       text-align: center;
    }

    footer{
        
    }
}
