@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Lora:ital,wght@1,500;1,600&family=Meow+Script&family=Mochiy+Pop+P+One&family=Passion+One&family=Permanent+Marker&family=Playfair+Display:ital,wght@1,500&family=Redacted+Script:wght@700&display=swap');


*{
    margin: 0px;
    padding: 0px;
}


:root{
    --cor1: #dabfffb7;
    --cor2: #907AD6;
    --cor3: #4F518C;
    --cor4: #bbbbbb9f;
    --cor5: #7FDEFF;
    --cor6: black;


    --fonte1: 'Mochiy Pop P One', sans-serif;


}

header{
    background-color: var(--cor1);
    padding: 25px;
    font-family: var(--fonte1);
    font-size: 25px;

}

header a{
    text-decoration: none;
}

header a::after{
    color: var(--cor4);
}


section.container1 {
    width: 400px;
    height: 300px;
    margin: 20px;
    margin-bottom: 0%;
    background-color: var(--cor4);
  
}


 section p{
    padding: 10px;
    background-color: var(--cor4);
    width: 380px;
    margin: 20px;
    margin-top: 0%;
    font-family: var(--fonte1);
    font-size: 13px;
    text-align: justify;
 
}

 

section.container2{
    background-color: var(--cor4);
    width: 700px;
    height: 450px;
    margin: 10px;
 
}


footer{
    background-color: var(--cor1);
    padding: 20px;
    text-align: center;
    color: var(--cor3);
    font-size: 15px;
    font-family: var(--fonte1);
    margin-top: 3%;


}

footer p > a{
    color: var(--cor3);
    font-weight: bold;
    font-size: 15px;
    font-family: var(--fonte1);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}



 




@media (max-width: 450px){
    
    header{
        width: 100%;
    }

    section.container1{
        height: 100px;
 
    }

    section > p {
       

    }

    .container2{
        width: 400px;
    }

    iframe{
        width: 100%;
    }

    footer{
        width: 100%;
    }
}